# AWS Dependencies
boto3>=1.26.0
sagemaker>=2.132.0

# Data Processing and Machine Learning
pandas>=1.5.0
numpy>=1.23.0
scikit-learn>=1.0.2
yfinance>=0.2.12
TA-Lib>=0.4.24

# Tools and Utilities
python-dotenv>=0.21.0
tenacity>=8.2.2

# Logging and Monitoring
watchtower>=3.0.0 